* text=auto

# 识别 .vue 文件为 Vue 语言
*.vue linguist-language=Vue

# 识别 .js 文件为 JavaScript 语言
*.js linguist-language=JavaScript

# 识别 .ts 和 .tsx 文件为 TypeScript 语言
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

# 识别 .html 文件为 HTML 语言
*.html linguist-language=JavaScripy

# 识别 .css 文件为 CSS 语言
*.css linguist-language=CSS

# 识别 .json 文件为 JSON 语言
*.json linguist-language=Json
